<div class="featured-article hero">

    <div id="list_{{ article.id|raw }}" class="
        article-preview
                    ">

        <div class="article-promo-img-container ">
            <a href="{{ article.permalink|raw }}">
                <img class="ggnoads" width="1366" height="" src="{{ article.promo_images.hero|raw }}" data-pin-nopin="true">
            </a>
        </div>

        <div class="article-details-container">
            <div class="trending-container">
                <span class="trending-category">Trending in {{ article.categories[0].name }}</span>
            </div>

            <a href="{{ article.permalink|raw }}">
                <div class="article-headline">
                    <span>{{ article.page_title }}</span>
                </div>
            </a>

            <div class="author-line">
                <div class="article-author-container">
                    <span class="article-author-name">By {{ article.author_name }}</span>
                </div>

                <a href="{{ article.categories[0].link|raw }}">
                    <div class="category-badge">
                        {{ article.categories[0].name }}
                    </div>
                </a>
            </div>


        </div>
    </div>
</div>
