<div id="list_{{ article.id|raw }}" class="
        article-preview
        article-preview-overlay            ">

    <div class="article-promo-img-container force-promo-img-container-ar" style="max-height: 296px;padding-bottom: 75.126903553299%">
        <a href="{{ article.permalink|raw }}">
            <img class="ggnoads" width="394" height="296" src="{{ article.promo_images.regular|raw }}" data-pin-nopin="true">
        </a>
    </div>

    <div class="article-details-container">

        <a href="{{ article.permalink|raw }}">
            <div class="article-headline">
                <span>{{ article.page_title }}</span>
            </div>
        </a>

        <div class="author-line">
            <div class="article-author-container">
                <span class="article-author-name">By {{ article.author_name }}</span>
            </div>

            <a href="{{ article.categories[0].link|raw }}">
                <div class="category-badge">
                    {{ article.categories[0].name }}
                </div>
            </a>
        </div>


    </div>
</div>
