<div id="list_{{ article.id|raw }}" class="
        article-preview
                    ">


    <div class="article-details-container">

        <a href="{{ article.permalink|raw }}">
            <div class="article-headline">
                <span>{{ article.page_title }}</span>
            </div>
        </a>

        <div class="author-line">
            <div class="article-author-container">
                <span class="article-author-name">By {{ article.author_name }}</span>
            </div>

        </div>


    </div>
</div>
