<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>Dose - Stories Worth Sharing</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Dose is an online media company with a mission to educate, entertain, and inspire.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">



    <link rel="apple-touch-icon" sizes="57x57" href="/sites/dose.com/assets/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/sites/dose.com/assets/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/sites/dose.com/assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/sites/dose.com/assets/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/sites/dose.com/assets/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/sites/dose.com/assets/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/sites/dose.com/assets/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/sites/dose.com/assets/images/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/sites/dose.com/assets/images/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/sites/dose.com/assets/images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/sites/dose.com/assets/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/sites/dose.com/assets/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/sites/dose.com/assets/images/favicon-32x32.png" sizes="32x32">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/sites/dose.com/assets/images/mstile-144x144.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dose">
    <link href="https://plus.google.com/116915512269240176481" rel="publisher">

    <meta name="p:domain_verify" content="43396c459339c02ad0dbdc03060bc380">

    <meta name="apple-itunes-app" content="app-id=921666502">
    <meta name="google-play-app" content="app-id=com.spartzinc.dose">


    <meta name="dailymotion-domain-verification" content="dmze8o1knm8zl0jvn">


    <meta property="og:title" content="Dose">
    <meta property="og:site_name" content="Dose">
    <meta property="og:url" content="http://news.dose.com">
    <meta property="og:description" content="Stories Worth Sharing">
    <meta property="og:image" content="/sites/dose.com/assets/images/logo_300x300.png">
    <meta property="og:type" content="article">

    <meta property="article:author" content="https://www.facebook.com/Dose">
    <meta property="article:publisher" content="https://www.facebook.com/Dose">
    <meta property="fb:app_id" content="142804312525800">

    <meta property="fb:pages" content="634388726655669">

    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,700|Merriweather+Sans:400,300,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/sites/dose.com/assets/dist/css/app.min.css">
    <!-- Begin Google Analytics -->
    <script id="script_ga">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','gaSpartz');

        // Give our tracker a custom name.
        window.Spartz = window.Spartz || {};
        Spartz.gaSiteTracker = 'siteTracker';
        Spartz.gaGlobalTracker = 'spartz_network';

        // Create both ga trackers (one site and one global).
        gaSpartz('create', 'UA-33438112-1', 'auto', {'name': Spartz.gaSiteTracker});
        gaSpartz('create', 'UA-39480963-1', 'auto', {'name': Spartz.gaGlobalTracker});

        //Add enhanced link attribution
        gaSpartz(Spartz.gaSiteTracker + '.require', 'linkid');
        gaSpartz(Spartz.gaGlobalTracker + '.require', 'linkid');

        // GA is so dumb, they force you to literally use the word "dimension2"
        // instead of the custom dimension itself. I'm guessing they'll fix this in
        // the future so I'm adding this object to make changes easier and more readable.
        Spartz.customDimensions = {
            author: 'dimension1',
            experimentSlug: 'dimension2',
            pageViewCount: 'dimension3',
            referringArticle: 'dimension4',
            userId: 'dimension5',
            sessionId: 'dimension6',
            viewportSize: 'dimension7',
            referringLink: 'dimension8',
            numOfPosts: 'dimension9',
            publishedDate: 'dimension10',
            containsTaboola: 'dimension11'
        };
        Spartz.customMetrics = {
            numDfpAds: 'metric1'
        };

        // Set the custom dimension for the current test slug of the feature test
        // the user is in.
        gaSpartz(Spartz.gaSiteTracker + '.set', Spartz.customDimensions.author, 'NA');
        gaSpartz(Spartz.gaSiteTracker + '.set', Spartz.customDimensions.experimentSlug, '1466-1');
        gaSpartz(Spartz.gaSiteTracker + '.set', Spartz.customDimensions.viewportSize, window.innerWidth + 'x' + window.innerHeight);
        gaSpartz(Spartz.gaSiteTracker + '.set', Spartz.customDimensions.pageViewCount, '1');
        gaSpartz(Spartz.gaSiteTracker + '.set', Spartz.customDimensions.referringArticle, 'NA');
        gaSpartz(Spartz.gaSiteTracker + '.set', Spartz.customDimensions.userId, '57aa8c4b652e77.58895464');
        gaSpartz(Spartz.gaSiteTracker + '.set', Spartz.customDimensions.sessionId, 'baac9b4995ebbc29f5b5edf6e3423cd6b4b8b0af');
        gaSpartz(Spartz.gaSiteTracker + '.set', Spartz.customDimensions.referringLink, 'NA');
        gaSpartz(Spartz.gaSiteTracker + '.set', Spartz.customDimensions.numOfPosts, 'NA');

        gaSpartz(Spartz.gaGlobalTracker + '.set', Spartz.customDimensions.author, 'NA');
        gaSpartz(Spartz.gaGlobalTracker + '.set', Spartz.customDimensions.experimentSlug, '1466-1');
        gaSpartz(Spartz.gaGlobalTracker + '.set', Spartz.customDimensions.viewportSize, window.innerWidth + 'x' + window.innerHeight);
        gaSpartz(Spartz.gaGlobalTracker + '.set', Spartz.customDimensions.pageViewCount, '1');
        gaSpartz(Spartz.gaGlobalTracker + '.set', Spartz.customDimensions.referringArticle, 'NA');
        gaSpartz(Spartz.gaGlobalTracker + '.set', Spartz.customDimensions.userId, '57aa8c4b652e77.58895464');
        gaSpartz(Spartz.gaGlobalTracker + '.set', Spartz.customDimensions.sessionId, 'baac9b4995ebbc29f5b5edf6e3423cd6b4b8b0af');
        gaSpartz(Spartz.gaGlobalTracker + '.set', Spartz.customDimensions.referringLink, 'NA');
        gaSpartz(Spartz.gaGlobalTracker + '.set', Spartz.customDimensions.numOfPosts, 'NA');

        // Set the custom metric for the number of DFP ad slots are being rendered
        // for this pageview. Some pages, like the home page, do not have any ads
        // on them. Note the explicit check for null because if numDfpAds is 0, we still
        // want to send that.
        Spartz.pageviewMetrics = {};
        Spartz.pageviewMetrics[Spartz.customMetrics.numDfpAds] = 0;

        gaSpartz(Spartz.gaSiteTracker + '.send', 'pageview', Spartz.pageviewMetrics);
        gaSpartz(Spartz.gaGlobalTracker + '.send', 'pageview', Spartz.pageviewMetrics);
    </script>
    <!-- End Google Analytics -->





    <script type="text/javascript">
        var _prx = window._prx || [];
        _prx.push(['cfg.SetNoAutoStart']);
    </script>
</head>
<body class="home" data-app-banner-affected="">
<div id="fb-root"></div>

<div class="device-xs visible-xs"></div>
<div class="device-sm visible-sm"></div>
<div class="device-md visible-md"></div>
<div class="device-lg visible-lg"></div>


<header class="
        base-header
            " style="background-image: url('/assets/images/header_pattern.png');">

    <div class="header-container">
        <div class="header-item menu-container sidenav-toggle">
            <div class="menu">
                <span></span>
            </div>
        </div>

        <div class="header-item logo-container">
            <a href="/" class="logo ">

                <img src="/sites/dose.com/assets/images/header_logo_light.png" alt="Dose" title="Dose" class="logo-img skinny-logo">
            </a>
        </div>

        <div class="header-item verticals-container">
            <div class="verticals-menu-container">
                <div class="menu-item">
                    <a class="menu-item-link" href="/entertainment">Entertainment</a>
                </div>
                <div class="menu-item">
                    <a class="menu-item-link" href="/nerd">Nerd</a>
                </div>
                <div class="menu-item">
                    <a class="menu-item-link" href="/style">Style</a>
                </div>
                <div class="menu-item">
                    <a class="menu-item-link" href="/hollywood">Hollywood</a>
                </div>
                <div class="menu-item">
                    <a class="menu-item-link" href="/theworld">The World</a>
                </div>
                <div class="menu-item">
                    <a class="menu-item-link" href="/animals">Animals</a>
                </div>
                <div class="menu-item">
                    <a class="menu-item-link" href="/food">Food</a>
                </div>
                <div class="menu-item">
                    <a class="menu-item-link" href="/music">Music</a>
                </div>

                <div class="menu-item more">
                    <a class="menu-item-link" href="#">
                        More <i class="fa fa-sort-down"></i>
                    </a>
                    <div class="header-dropdown header-dropdown-right">
                        <div class="categories-menu">
                            <div class="categories-menu-header">Categories</div>
                            <div class="categories-menu-links-container">
                                <a href="/entertainment" class="categories-menu-link">
                                    Entertainment
                                </a>
                                <a href="/nerd" class="categories-menu-link">
                                    Nerd
                                </a>
                                <a href="/style" class="categories-menu-link">
                                    Style
                                </a>
                                <a href="/hollywood" class="categories-menu-link">
                                    Hollywood
                                </a>
                                <a href="/theworld" class="categories-menu-link">
                                    The World
                                </a>
                                <a href="/animals" class="categories-menu-link">
                                    Animals
                                </a>
                                <a href="/food" class="categories-menu-link">
                                    Food
                                </a>
                                <a href="/music" class="categories-menu-link">
                                    Music
                                </a>
                                <a href="/throwback" class="categories-menu-link">
                                    Throwback
                                </a>
                                <a href="/parents" class="categories-menu-link">
                                    Parents
                                </a>
                                <a href="/homeanddiy" class="categories-menu-link">
                                    Home &amp; DIY
                                </a>
                                <a href="/news" class="categories-menu-link">
                                    News
                                </a>
                                <a href="/health" class="categories-menu-link">
                                    Health
                                </a>
                                <a href="/sports" class="categories-menu-link">
                                    Sports
                                </a>
                                <a href="/motors" class="categories-menu-link">
                                    Motors
                                </a>
                            </div>
                        </div>
                        <div class="static-links-menu">
                            <a class="static-menu-link" target="_blank" href="http://about.dose.com">About Us</a>
                            <a class="static-menu-link" target="_blank" href="http://about.dose.com/#section-mediakit">Advertise</a>
                            <a class="static-menu-link" target="_blank" href="http://about.dose.com/careers">Careers</a>
                            <a class="static-menu-link" href="/dmca">DMCA</a>
                            <a class="static-menu-link" href="/termsofuse">Terms of Use</a>
                            <a class="static-menu-link" href="/privacypolicy">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="background-gradient"></div>

<div id="page-body">
    <div class="sidenav-menu">
        <div class="categories-menu">
            <div class="categories-menu-header">Categories</div>
            <div class="categories-menu-links-container">
                <a href="/entertainment" class="categories-menu-link">
                    Entertainment
                </a>
                <a href="/nerd" class="categories-menu-link">
                    Nerd
                </a>
                <a href="/style" class="categories-menu-link">
                    Style
                </a>
                <a href="/hollywood" class="categories-menu-link">
                    Hollywood
                </a>
                <a href="/theworld" class="categories-menu-link">
                    The World
                </a>
                <a href="/animals" class="categories-menu-link">
                    Animals
                </a>
                <a href="/food" class="categories-menu-link">
                    Food
                </a>
                <a href="/music" class="categories-menu-link">
                    Music
                </a>
                <a href="/throwback" class="categories-menu-link">
                    Throwback
                </a>
                <a href="/parents" class="categories-menu-link">
                    Parents
                </a>
                <a href="/homeanddiy" class="categories-menu-link">
                    Home &amp; DIY
                </a>
                <a href="/news" class="categories-menu-link">
                    News
                </a>
                <a href="/health" class="categories-menu-link">
                    Health
                </a>
                <a href="/sports" class="categories-menu-link">
                    Sports
                </a>
                <a href="/motors" class="categories-menu-link">
                    Motors
                </a>
            </div>
        </div>
        <div class="static-links-menu">
            <a class="static-menu-link" target="_blank" href="http://about.dose.com">About Us</a>
            <a class="static-menu-link" target="_blank" href="http://about.dose.com/#section-mediakit">Advertise</a>
            <a class="static-menu-link" target="_blank" href="http://about.dose.com/careers">Careers</a>
            <a class="static-menu-link" href="/dmca">DMCA</a>
            <a class="static-menu-link" href="/termsofuse">Terms of Use</a>
            <a class="static-menu-link" href="/privacypolicy">Privacy Policy</a>
        </div>

        <div class="sidenav-menu-close-container">
            <div class="sidenav-menu-close">
                Close
            </div>
        </div>
    </div>

    <div class="home-page-content">
        <div class="featured-article-container">
            {% include 'templates/components/articles/hero.twig' with {'article': hero[0]} %}
        </div>

        <div class="general-home-page-content">
            <div class="container-fluid">
                <div class="flex-feed">
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <div class="row">

                                <div class="col col-xs-12 col-sm-6">
                                    {% include 'templates/components/articles/regular.twig' with {'article': regular[0]} %}
                                </div>

                                <div class="col col-xs-12 col-sm-6">
                                    {% include 'templates/components/articles/regular.twig' with {'article': regular[1]} %}
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    {% include 'templates/components/articles/featured.twig' with {'article': featured[0]} %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="
    article-preview-widget
        article-preview-widget-indent">
                                <div class="
        widget-header
            " style="background-image: url('/assets/images/stripe.png');">


                                    <span class="widget-header-text">Latest Articles</span>

                                </div>

                                <div class="article-preview-widget-articles">

                                    {% include 'templates/components/articles/simple.twig' with {'article': latest[0]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': latest[1]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': latest[2]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': latest[3]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': latest[4]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': latest[5]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': latest[6]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': latest[7]} %}

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="
    article-preview-widget
    article-preview-widget-compact    ">
                                <div class="
        widget-header
            " style="background-image: url('/assets/images/stripe.png');">

                                    <a href="/nerd" class="widget-header-link">

                                        <span class="widget-header-text">Nerd</span>

                                    </a>
                                </div>

                                <div class="article-preview-widget-articles">

                                    {% include 'templates/components/articles/simple.twig' with {'article': nerd[0]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': nerd[1]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': nerd[2]} %}

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="
    article-preview-widget
    article-preview-widget-compact    ">
                                <div class="
        widget-header
            " style="background-image: url('/assets/images/stripe.png');">

                                    <a href="/style" class="widget-header-link">

                                        <span class="widget-header-text">Style</span>

                                    </a>
                                </div>

                                <div class="article-preview-widget-articles">

                                    {% include 'templates/components/articles/simple.twig' with {'article': style[0]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': style[1]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': style[2]} %}

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="
        widget-header
        widget-header-no-outline    ">


                                <span class="widget-header-text">Stay In Touch</span>

                            </div>


                        </div>
                    </div>

                    <div class="row">

                        <div class="col col-xs-12 col-sm-6 col-md-4">
                            {% include 'templates/components/articles/regular.twig' with {'article': regular[2]} %}
                        </div>

                        <div class="col col-xs-12 col-sm-6 col-md-4">
                            {% include 'templates/components/articles/regular.twig' with {'article': regular[3]} %}
                        </div>

                        <div class="col col-xs-12 col-sm-6 col-md-4">
                            {% include 'templates/components/articles/regular.twig' with {'article': regular[4]} %}
                        </div>

                        <div class="col col-xs-12 col-sm-6 col-md-4">
                            <div class="
    article-preview-widget
    article-preview-widget-compact    ">
                                <div class="
        widget-header
            " style="background-image: url('/assets/images/stripe.png');">

                                    <a href="/hollywood" class="widget-header-link">

                                        <span class="widget-header-text">Hollywood</span>

                                    </a>
                                </div>

                                <div class="article-preview-widget-articles">

                                    {% include 'templates/components/articles/simple.twig' with {'article': hollywood[0]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': hollywood[1]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': hollywood[2]} %}

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-8">
                            {% include 'templates/components/articles/featured.twig' with {'article': featured[1]} %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <div class="row">

                                <div class="col col-xs-12 col-sm-6">
                                    {% include 'templates/components/articles/regular.twig' with {'article': regular[5]} %}
                                </div>

                                <div class="col col-xs-12 col-sm-6">
                                    {% include 'templates/components/articles/regular.twig' with {'article': regular[6]} %}
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="
    article-preview-widget
    article-preview-widget-compact    ">
                                        <div class="
        widget-header
            " style="background-image: url('/assets/images/stripe.png');">

                                            <a href="/theworld" class="widget-header-link">

                                                <span class="widget-header-text">The World</span>

                                            </a>
                                        </div>

                                        <div class="article-preview-widget-articles">

                                            {% include 'templates/components/articles/simple.twig' with {'article': theworld[0]} %}
                                            {% include 'templates/components/articles/simple.twig' with {'article': theworld[1]} %}
                                            {% include 'templates/components/articles/simple.twig' with {'article': theworld[2]} %}

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="
    article-preview-widget
    article-preview-widget-compact    ">
                                        <div class="
        widget-header
            " style="background-image: url('/assets/images/stripe.png');">

                                            <a href="/animals" class="widget-header-link">

                                                <span class="widget-header-text">Animals</span>

                                            </a>
                                        </div>

                                        <div class="article-preview-widget-articles">

                                            {% include 'templates/components/articles/simple.twig' with {'article': animals[0]} %}
                                            {% include 'templates/components/articles/simple.twig' with {'article': animals[1]} %}
                                            {% include 'templates/components/articles/simple.twig' with {'article': animals[2]} %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="
    article-preview-widget
        article-preview-widget-indent">
                                <div class="
        widget-header
            " style="background-image: url('/assets/images/stripe.png');">

                                    <a href="/entertainment" class="widget-header-link">

                                        <span class="widget-header-text">Entertainment</span>

                                    </a>
                                </div>

                                <div class="article-preview-widget-articles">

                                    {% include 'templates/components/articles/simple.twig' with {'article': entertainment[0]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': entertainment[1]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': entertainment[2]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': entertainment[3]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': entertainment[4]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': entertainment[5]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': entertainment[6]} %}
                                    {% include 'templates/components/articles/simple.twig' with {'article': entertainment[7]} %}

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col col-xs-12 col-sm-6 col-md-4">
                            {% include 'templates/components/articles/regular.twig' with {'article': regular[7]} %}
                        </div>

                        <div class="col col-xs-12 col-sm-6 col-md-4">
                            {% include 'templates/components/articles/regular.twig' with {'article': regular[8]} %}
                        </div>

                        <div class="col col-xs-12 col-sm-6 col-md-4">
                            {% include 'templates/components/articles/regular.twig' with {'article': regular[9]} %}
                        </div>

                        <div class="col col-xs-12 col-sm-6 col-md-4">
                            {% include 'templates/components/articles/regular.twig' with {'article': regular[10]} %}
                        </div>

                        <div class="col col-xs-12 col-sm-6 col-md-4">
                            {% include 'templates/components/articles/regular.twig' with {'article': regular[11]} %}
                        </div>

                        <div class="col col-xs-12 col-sm-6 col-md-4">
                            {% include 'templates/components/articles/regular.twig' with {'article': regular[12]} %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container-fluid">
        <div class="row visible-xs">
            <div class="col-xs-12 social-links">
                <ul>
                    <li class="social-title">Follow Us</li>
                    <li><a href="https://www.facebook.com/Dose" target="_blank" class="fa fa-facebook"></a></li>
                    <li><a href="https://twitter.com/dose" target="_blank" class="fa fa-twitter"></a></li>
                    <li><a href="https://www.pinterest.com/DoseOfAmazing" target="_blank" class="fa fa-pinterest"></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="links">
                    <nav class="footer-nav">
                        <ul>
                            <li>
                                <a href="http://about.dose.com" target="_blank">About Us</a>
                            </li>
                            <li class="hidden-xs">
                                <a href="/submit">Submit Content</a>
                            </li>
                            <li>
                                <a href="/dmca">DMCA</a>
                            </li>
                            <li class="visible-xs">
                                <a href="http://about.dose.com/careers" target="_blank">Careers</a>
                            </li>
                            <li>
                                <a href="/termsofuse">Terms of Use</a>
                            </li>
                            <li class="visible-xs">
                                <a href="http://about.dose.com/#section-mediakit" target="_blank">Advertise</a>
                            </li>
                            <li>
                                <a href="/privacypolicy">Privacy Policy</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="footer-copyright">
                    Copyright &#xA9; Dose Media LLC. All rights reserved
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    window.Spartz = window.Spartz || {};
    if(!Spartz.env) {
        Spartz.env = {
            environment: 'prod',
            urlBase: 'http://news.dose.com',
            domain: 'dose.com',
            siteId: 'PS',
            siteName: 'Dose',
            mobile: 0,
            deviceType: 'desktop'
        };
    }
</script>



<script async type="text/javascript" src="/sites/dose.com/assets/dist/js/app.min.js"></script>

<!-- Third party scripts -->

<!-- Begin Gum Gum -->
<script type="text/javascript">
    ggv2id = "028f3a17";
</script>
<!-- End Gum Gum -->

<!-- Begin Facebook -->
<script>
    window.Spartz = window.Spartz || {};
    Spartz.tokens = Spartz.tokens || {};
    Spartz.tokens.fbAppId = "142804312525800";
</script>
<!-- End Facebook -->
<!-- Begin Facebook Remarketing -->
<script>
    window.Spartz = window.Spartz || {};
    Spartz.tokens = Spartz.tokens || {};
    Spartz.tokens.fbPixelId = "918773154844980";
</script>
<noscript>
    <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=918773154844980&amp;ev=NoScript">
</noscript>
<!-- End Facebook Remarketing -->

<!-- Start Quantcast -->
<script id="script_quantcast" type="text/javascript">
    var _qevents = _qevents || [];

    (function () {
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push([{
        qacct: "p-2d3QB5N8Jeuag"
    },
        {
            qacct: "p-6EzWtvBV9sFU3"
        }]);
</script>
<noscript>
    <div style="display:none;">
        <img src="//pixel.quantserve.com/pixel/?a.1=p-2d3QB5N8Jeuag&amp;a.2=p-6EzWtvBV9sFU3" border="0" height="1" width="1" alt="Quantcast">
    </div>
</noscript>
<!-- End Quantcast -->

<!-- Begin comScore Tag -->
<script>
    var _comscore = _comscore || [];
    _comscore.push({ c1: "2", c2: "14006749" });
    (function() {
        var s = document.createElement("script"),
                el = document.getElementsByTagName("script")[0];
        s.async = true;
        s.id="script_comscore";
        s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
        el.parentNode.insertBefore(s, el);
    })();
</script>
<noscript>
    <img src="http://b.scorecardresearch.com/p?c1=2&amp;c2=14006749&amp;cv=2.0&amp;cj=1">
</noscript>
<!-- End comScore Tag -->


<!-- Begin Forensiq -->
<script async src="//s.fqtag.com/b?org=7u4ruvaswagaf4eguw7w&amp;sk=7uZKcDPoo10FcuDQKPJD&amp;p=&amp;a=&amp;url=http%3A%2F%2Fwww.dose.com&amp;cmp="></script>
<!-- End Forensiq -->

<!-- End third party scripts -->

<!-- Spartz scripts -->
<!-- Begin Feature Config -->
<script>
    window.Spartz = window.Spartz || {};
    Spartz.features = Spartz.features || {};

    Spartz.features.lazyload =
            "enabled";
    Spartz.features.subscribe_box =
            "enabled";
    Spartz.features.lite =
            null;
    Spartz.features.mendel_testing =
            null;
    Spartz.features.taboola =
            "enabled";
    Spartz.features.onsite_share_utm_campaign =
            "enabled";
    Spartz.features.share_shortlinks =
            null;
    Spartz.features.ios_app_banner =
            "enabled";
    Spartz.features.qeryz =
            null;
    Spartz.features.custom_rate_limiting =
            null;
    Spartz.features.forensiq =
            "enabled";
    Spartz.features.cloudinary =
            "enabled";
    Spartz.features.sonobi =
            null;
    Spartz.features.openx_prebid =
            "enabled";
    Spartz.features.shortened_taboola =
            null;
    Spartz.features.push_down_ad =
            "enabled";
</script>
<!-- End Feature Config -->
<!-- Begin Experiment Config -->
<script>
    window.Spartz = window.Spartz || {};
    Spartz.experiments = Spartz.experiments || {};

    Spartz.experiments.empty_test =
            null;
    Spartz.experiments.popout_email_subscription =
            "popout_enabled";
</script>
<!-- End Experiment Config -->
<!-- Begin Script Tester -->
<script>
    window.Spartz = window.Spartz || {};

    Spartz.scriptTester = (function() {
        var enabledScripts = {};

        enabledScripts.dfp_ads = 1;
        enabledScripts.sonobi = 1;
        enabledScripts.openx = 1;
        enabledScripts.facebook = 1;
        enabledScripts.ga = 1;
        enabledScripts.comscore = 1;
        enabledScripts.twitter = 1;
        enabledScripts.instagram = 1;
        enabledScripts.quantcast = 1;
        enabledScripts.qeryz = 1;
        enabledScripts.taboola = 1;
        enabledScripts.mendel = 1;
        enabledScripts.forensiq = 1;
        enabledScripts.gumgum = 1;
        enabledScripts.nativo = 1;
        enabledScripts.lotame = 1;
        enabledScripts.servespring = 1;
        enabledScripts.wildHair = 1;

        function getScriptEnabled(script) {
            return enabledScripts[script];
        }

        return {
            getScriptEnabled: getScriptEnabled
        };
    })();
</script>
<!-- End Scrip Tester -->
<!-- End Spartz scripts -->
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"04b5dfc9b4","applicationID":"6223625","transactionName":"MQBXYBZUXEdVUhJcWwhKdFcQXF1aG2IWVEYSH2l1FFxuQgVtIFBRAiZaWhBHXVhYVBR1WwgA","queueTime":0,"applicationTime":135,"atts":"HUdUFl5OT0k=","errorBeacon":"bam.nr-data.net","agent":""}</script></body>
</html>

